<html>
<head>
  <title>Contact created!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
  <div class='container'>
  <h1>Contact created!</h1>
  
  <p>{{ newcontact.getContactName }}</p>
  <p>{{ newcontact.getContactNumber }}</p>
  <p>{{ newcontact.getContactAddress }}</p><br>

  <p><a href='/'>Return to your Adress Book</a></p>
  </div>
</body>

</html>
